<section class="section columns {% if block.fullWidthSection %}u-theme-{{ block.theme ?? 0 }}{% endif %}">
    <div class="wrapper section__inner {% if block.theme is not empty %}u-theme-{{ block.theme ?? '0' }}{% endif %}">
        <div class="grid grid--gap-xxl">
            {% if block.eyebrow is not empty or block.title is not empty or block.intro is not empty %}
                <div class="grid__col {% if block.sectionHeaderAlignment == 'left' %}l:grid__col--span-4{% endif %}">
                    {% include '_partials/sectionHeader' with { block: block } %}
                </div>
            {% endif %}
            <div class="grid__col {% if block.sectionHeaderAlignment == 'left' %}l:grid__col--span-8{% endif %}">
                <div class="grid grid--gap-xxl">
                    {% if block.sectionHeaderAlignment == 'left' %}
                        {% set gridClassName = "l:grid__col--span-4" %}
                    {% else %}
                        {% switch block.columns|length %}
                            {% case 2 %}
                                {% set gridClassName = "l:grid__col--span-6" %}
                            {% case 3 %}
                                {% set gridClassName = "l:grid__col--span-4" %}
                            {% case 4 %}
                                {% set gridClassName = "l:grid__col--span-3" %}
                            {% default %}
                                {% set gridClassName = "l:grid__col--span-4" %}
                        {% endswitch %}
                    {% endif %}
                    {% for column in block.columns %}
                        <div class="grid__col {{ gridClassName }}">
                            <div class="column">
                                <div class="column__inner {{ column.iconName is not empty ? 'column__inner--icon' : '' }}">
                                    {% if column.image is not empty %}
                                        {% set image = column.image.one() %}
                                        {% if image %}
                                            <picture class="column__picture">
                                                <img  alt="{{ image.title }}" class="column__image" src="{{ image.url }}">
                                            </picture>
                                        {% endif %}
                                    {% endif %}
                                    {% if column.iconName is not empty %}
                                        <div class="column__icon" style="color: {{ column.iconColor }};">
                                            <i data-lucide="{{ column.iconName }}"></i>
                                        </div>
                                    {% endif %}
                                    <div class="column__content">
                                        <h3 class="columns__heading">{{ column.title }}</h3>
                                        <div class="columns__text richText">
                                            {{ column.text }}
                                        </div>
                                    </div>
                                </div>
                                {% if column.ctas is not empty %}
                                    {% include '_partials/ctas' with { ctas: column.ctas } %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>