<section class="section columns {% if block.fullWidthSection %}u-theme-{{ block.theme ?? 0 }}{% endif %} js-equinox">
    <div class="wrapper section__inner {% if block.theme is not empty %}u-theme-{{ block.theme ?? '0' }}{% endif %}">
        <div class="grid grid--gap-xxl">
            {% if block.eyebrow is not empty or block.title is not empty or block.intro is not empty %}
                <div class="grid__col {% if block.sectionHeaderAlignment == 'left' %}l:grid__col--span-4{% endif %}">
                    {% include '_partials/sectionHeader' with { block: block } %}
                </div>
            {% endif %}
            <div class="grid__col {% if block.sectionHeaderAlignment == 'left' %}l:grid__col--span-8{% endif %}">
                <div class="grid grid--gap-xl l:grid--gap-xxl">
                    {% switch block.stats|length %}
                        {% case 1 %}
                             {% set gridClassName = "l:grid__col--span-6" %}
                        {% case 4 %}
                            {% set gridClassName = "l:grid__col--span-3" %}
                        {% default %}
                            {% set gridClassName = "l:grid__col--span-4" %}
                    {% endswitch %}
                    {% if block.stats|length > 4 %}
                        {% set gridClassName = "l:grid__col--flex" %}
                    {% endif %}
                    {% for stat in block.stats %}
                        <div class="grid__col {{ gridClassName }}">
                            <div class="stat">
                                <div class="stat__value u-text-b u-color-text-hc u-text-num">{{ stat.value }}</div>
                                <div class="stat__label richText">{{ stat.label }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>