<section class="section text {% if block.fullWidthSection %}u-theme-{{ block.theme }}{% endif %} js-equinox">
    <div class="wrapper section__inner u-theme-{{ block.theme ?? '0' }}">
        <div class="grid grid--center grid--gap-xxl">
            <div class="grid__col l:grid__col--span-{{ block.sectionHeaderAlignment == 'left' ? 6 : 8 }}">
                {% include '_partials/sectionHeader' with { block: block } %}
            </div>
            <div class="grid__col l:grid__col--span-{{ block.sectionHeaderAlignment == 'left' ? 6 : 8 }}">
                <div class="text__body richText">
                    {{ block.text }}
                </div>
                {% if block.ctas %}
                    {% include '_partials/ctas' with { ctas: block.ctas } %}
                {% endif %}
            </div>
        </div>
    </div>
</section>