{% set classNames = ['section', 'text', 'js-equinox'] %}

{%
    set classNames = [
        'section',
        'text',
        section.isFullWidth ? 'section--fullWidth' : '',
        section.isFullWidth ? 'u-theme-' ~ section.theme : '',
    ]|filter|join(' ')
%}

<section class="{{ classNames }}">
    <div class="wrapper section__inner u-theme-{{ section.theme ?? '0' }}">
        <div class="grid grid--center grid--gap-xxl">
            <div class="grid__col l:grid__col--span-{{ section.sectionHeaderAlignment == 'left' ? 6 : 8 }}">
                {% include '_partials/sectionHeader' with { section: section } %}
            </div>
            <div class="grid__col l:grid__col--span-{{ section.sectionHeaderAlignment == 'left' ? 6 : 8 }}">
                <div class="stack stack--gap-xl">
                    <div class="text__body richText">
                        {{ section.text }}
                    </div>
                    {% if section.ctas %}
                        {% include '_partials/ctas' with {
                            ctas: section.ctas,
                            ctasClassNames: section.sectionHeaderAlignment == 'top' ? 'ctas--center' : ''
                        } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>